.App {
  text-align: center;
}

input {
  margin-left: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid lightgray;
  padding: 10px 5px;

  border-radius: 4px;
  width: 150px;
  outline: none;
  border: 1px solid #ccc;
}

.highlight {
  background-color: rgb(255, 143, 123);
}
